.about {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(250, 249, 246);
}

.about .right {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 450px;
    background-color: rgb(250, 249, 246);
}

.about .right p {
    margin: 1.2rem 0;
    width: 100%;
}

.about .left {
    max-width: 500px;
}

.left .img-container {
    align-items: center;
    text-align: center;
}

.left .img {
    max-width: 100%;
    height: 400px;
}
