.hero-img {
    width:100%;
    height:60vh;
    position:relative;
}

.hero-img::before{
   content: "";
   background: url("https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29kZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
   background-size: cover;
   background-position: center top;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 0.6;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    width: 60%;
    text-align: center;
}

@media screen and (max-width: 640px) {
    
    .hero-img h1 {
        font-size: 2rem;
    }

    .hero-img p {
        font-size: 1.4rem;
        width: 75%;
        text-align: center;
    }

}