@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  /* background: #000; */
  background: white;
}

h1, h4,h3, p, a{
  /* color: #fff; */
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 271, 15);
  color: #222;
  border: 1px solid #222;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  color: #222;
  background: transparent;
}

.btn:hover {
  background: #222;
  color: rgb(248, 271, 15);
  transition: 0.3s;
}